-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."Project" (
    "id" TEXT NOT NULL,
    "siteAddress" TEXT,
    "projectType" TEXT,
    "sizeStoreys" INTEGER,
    "budgetBand" TEXT,
    "targetTimeline" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lotId" TEXT,

    CONSTRAINT "Project_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Lot" (
    "id" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "zoneCode" TEXT,
    "council" TEXT,
    "lat" DECIMAL(9,6),
    "lng" DECIMAL(9,6),
    "maxHeightM" DECIMAL(6,2),
    "fsr" DECIMAL(5,2),
    "minLotSizeSqm" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Lot_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Lot_address_key" ON "public"."Lot"("address");

-- AddForeignKey
ALTER TABLE "public"."Project" ADD CONSTRAINT "Project_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES "public"."Lot"("id") ON DELETE SET NULL ON UPDATE CASCADE;

